<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.SieLoja"
        tools:targetApi="m">
        <activity android:name="br.salt.sieloja.view.util.BaseActivity" >
        </activity>
        <activity
            android:name="br.salt.sieloja.view.LoginActivity"
            android:screenOrientation="fullSensor"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.salt.sieloja.view.CardapioActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_cardapio" >
        </activity>
        <activity
            android:name="br.salt.sieloja.view.ConsumoTextActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_consumo" >
        </activity>
        <activity
            android:name="br.salt.sieloja.view.ConsumoNumberActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_consumo" >
        </activity>
        <activity
            android:name="br.salt.sieloja.view.ParcialActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_parcial" >
        </activity>
        <activity
            android:name="br.salt.sieloja.view.MenuActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="br.salt.sieloja.view.ConfiguracoesActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_configuracoes" >
        </activity>
    </application>

</manifest>